
<p> Д/З :<br> 1.)Используя условия и циклы сделать таблицу в 5 колонок и 3 строки (5x3),
    отметить разными цветами часть ячеек</p>
<div  style="border-top:1px solid #000; ">
    <div style="height: 10px"></div>

</div>