/*///////////////////////////////////////////////////////////*/
/*//////////////        DEFOULT STYLE      //////////////////*/
/*///////////////////////////////////////////////////////////*/
body{
    font-family: arial,verdana,tahoma,sans-serif;
    margin:0 auto;
    color:#000;
}
img{
    border: none;
}
ul{
    padding:0px;
    margin:0px;

}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.container table {
    border: 1px solid #000;
}

tr{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}
.clear{
    clear:both;
}
.wrapper{
    margin: 0 auto;
    width:100%;
}
.text{
    background: #ccc ;
    margin: 20px;
    padding-bottom: 20px;
}
.container{
    clear: both;
    /*width: 1537px;*/
    width: 1170px;
    margin: 0 auto;
}
.section{
    width:100%;
}

* {
    box-sizing: border-box;
}

/*//////////////////////////////////////////////////////////*/
/*/////////////        COSTOMS STYLE        ////////////////*/
/*//////////////////////////////////////////////////////////*/
/*========HEADER=================*/
    header  {
        height: 100px;
        background:linear-gradient(to bottom, #000, #182431); 
        /*background: url('slider.png') 0px 0px / 100% 100% no-repeat transparent;*/
    }
    header .logo {
        float: left;
        height: 100%;
        width: 200px;
    }
    header .logo a img{
        margin-left: 100px;
        float: left;
        margin-top: 10px;
        transform: rotate(180deg);
    }
    header .logo a h1{
        margin:0;
        color: #ccc;
        font-size: 30px;
        /*font-family: 'Nixie One', cursive;*/
        font-family: 'Cinzel', serif;
    }
    header .menu div{
        float: left;
        margin-left: 29px;
    }
    header .menu div a{
        font-size: 20px;
        color: #a8a8a8;
        font-family: 'Orbitron', sans-serif;
    }
    header .menu div a.active{
        color: #ffffff;
    }

    header .menu div a:hover{
        color: #ffffff;
    }

    header .container .auth{
        width:350px;
        height: 99px;
        float: right;
        color: white;
    }
    #authorization {
        margin: 20px;
        float: right;
        width: 300px;
        height:40px;
    }

    #authorization  a {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        float: right;
        width: 75px;
        height:27px;
        background: #020102;
        color: white;
        border:1px solid white;
    }

/*========END HEADER==============*/
/*//////////////////////////////////////////////////////////*/
/*========SECTION SLIDER========*/
    #main-banner {
        min-height: 400px;
        height: 820px;
    }

    #main-banner .swiper-container {
        width: 100%;
        height: 100%;
    }

    #main-banner .swiper-container .swiper-slide .block1 {
        float: right;
        padding-top: 220px;
    }

    #main-banner .swiper-container .swiper-slide .block1 h3 {
        font-size: 118px;
        line-height: 90px;
        color: #eeeeee;
        text-transform: uppercase;
        font-family: 'Six Caps', sans-serif;

    }

    #main-banner .swiper-container .swiper-slide .block1 p.brown {
        color: #ba933e;
        font-size: 80px;
        line-height: 80px;
        text-transform: uppercase;
    }

    #main-banner .swiper-container .swiper-slide .block1 p.small {
        color: #999999;
        font-size: 16px;
    }

    #main-banner .swiper-container .swiper-slide .block1 a.btn {
        color: #fff;
        background: #ba933e;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 16px;
        display: inline-block;
        margin-top: 40px;
    }

    #main-banner .swiper-button-next, #main-banner .swiper-button-prev {
        background: #e9e9e9;
        width: 56px;
        height: 56px;
        margin-top: -28px;
        text-align: center;
        font-size: 20px;
        line-height: 56px;
        transition: all 0.3s ease-out;
    }

    #main-banner .swiper-button-next:hover, #main-banner .swiper-button-prev:hover {
        background: #ba933e;
        color: #fff;
    }

    #main-banner .swiper-button-next {
        border: 1px solid;
        border: 1px solid;
        background: rgba(0, 0, 0, 0);
        right: 60px;
    }

    #main-banner .swiper-button-prev {
        border: 1px solid;
        border: 1px solid;
        background: rgba(0, 0, 0, 0);
        left: 60px;
    }

    #main-banner .swiper-pagination .swiper-pagination-bullet {
        background: transparent;
        border: 3px solid #ba933e;
        width: 10px;
        height: 10px;
        border-radius: 0;
        opacity: 1;
    }

    #main-banner .swiper-pagination .swiper-pagination-bullet-active {
        background: #ba933e;
    }
/*======== END SECTION SLIDER========*/
/*//////////////////////////////////////////////////////////*/
/*========SECTION SERVICES========*/
    #main{
        background: #ffffff;
        width: 100%;
        /*height: 100%;*/
    }
    #main .services {
        height: 450px;
    }
    #main .services .container{
        height:100%;
    }
    #main .services .container .content .options{
        height:100%;
        float: left;
        margin: 5px;
        width: 275px;
    }
    #main .container .content .options .wraper{
        height: 290px;
        border-bottom: 1px solid #000;
        transition: all 1s;
    }
    #main .container .content .options .wraper:hover{
        height: 400px;


    }

    #main .container .content .options .wraper img{
        margin-top: 10px;
        position: relative;
        right: -100px;
        width: 49px;
        height: 48px;
    }


    #main .container .content .options .wraper h5{
        text-align: center;
        margin: 0 auto;
        font-size: 23px;
        line-height: 61px;
        font-family: 'Orbitron', sans-serif;

        /*font-family: 'Josefin Slab', serif;*/
    }
    /*#main .container .content .options .line{*/
        /*margin: auto;*/
        /*width: 100px;*/
        /*height: 82px;*/
        /*border-top: 5px solid #9a9790;*/
    /*}*/
/*========END SERVICES==================*/
/*//////////////////////////////////////////////////////////*/
/*========TION REALIZATION IDEAS========*/
    #realization-ideas{
        height:632px;
    }
    #realization-ideas .container .content h2{
        text-align: center;

        font-family: 'Josefin Slab', serif;
    }
    #realization-ideas .container .content p{
        height: 617px;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
    }
    #realization-ideas .container .content{
        border-radius: 4px;
        /*background: url("../img/realization.png")0px 0px / 100% 100% no-repeat transparent;*/
    }
/*========END REALIZATION IDEAS========*/
/*//////////////////////////////////////////////////////////*/
/*========TEXT SCHOOL=================*/
    #main .menu_lesson{
        /*background: #ccc;*/
        height: 100%;
    }
    #main .menu_lesson a{
        margin: 5px;
        color: #211b19;
        font-size: 20px;
        font-family: 'Orbitron', sans-serif;
    }
    #main .menu_lesson {

    }
    #main .menu_lesson .container{
        height: 30px;
        border-bottom:1px solid #000000 ;
    }
    #main .practics{
        margin: 30px;
    }
/*========END SCHOOL==================*/
/*//////////////////////////////////////////////////////////*/
/*========TEXT COUNTER=================*/
    #counters{
        height: 300px;
        background: #000;
        background: linear-gradient(to right, #211b19, #4e3427);     
    }
    #counters .container .content div{
        width: 200px;
        float: left;
        margin-top:38px;
        margin-left: 24px;
    }
    #counters .container .content div p{
        line-height: 1px;
        color: #c7b299;
        font-size: 36px;
        text-align: center;
        font-family: 'Poiret One', cursive;
    }
    #counters .container .content div h5{
        line-height: 1px;
        color: #756450;
        margin-left: 0;
        font-size: 12px;
        text-align: center;
    }
    #counters .container .content img{
        position: relative;
        left: 76px;
    }

    #counters .container .content .lines{
        border-top: 5px solid #ffffff;
        margin-left: 53px;
        width: 100px;
        height: 40px;
    }
/*========END COUNTER========*/
/*//////////////////////////////////////////////////////////*/
/*========START BLOG========*/
#blog .container div.h2{ font-family: 'Cinzel', serif ; text-align: center;border-bottom: 1px solid #ccc;}
.blog { margin-bottom: 20px;  border-bottom: 1px solid #ccc; }
.blog .date{font-family: 'Special Elite', cursive;margin: 5px;}
.blog div h2{font-family: 'Orbitron', sans-serif;}
.blog img { width: 190px; float: left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0; }
.blog .meta { clear: left; margin-bottom: 20px; }
.blog .snippet p.continue { margin-bottom: 0; text-align: right; }
.blog .meta { font-style: italic; font-size: 12px; color: #666; }
.blog .meta p { margin-bottom: 5px; line-height: 1.2em; }
.blog img.large { width: 300px; min-height: 165px; }


/*========END BLOG========*/
/*//////////////////////////////////////////////////////////*/
/*========START MORE========*/
#more .container h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}


/*========END MORE========*/
/*//////////////////////////////////////////////////////////*/
/* ========FOOTER=========== */
    footer{
        /*height: 619px;*/
    }

    /*TOP */
    footer #top{
        height: 510px;
        background: url('../image/1.png') 0px 0px / 100% 100% no-repeat transparent;
    }
    footer #top .container .content .partner{
        float:left;
        width: 210px;
        height: 210px;
        margin: 40px;
        margin-top: 149px;
    }
    footer #top .container .content .partner img{

    }
    /*END TOP */

/*=====================================================*/

    /*COPYRIGHT*/
    #copyright{
        height: 110px;
        background:linear-gradient(to top, #000, #182431);
    }
    #copyright .logo a img{
        margin-top: 10px;
        float: left;
        margin-left: 100px;
    }
    #copyright .logo a h1 {
        margin:0;
        color: #ccc;
        font-size: 30px;
        /*font-family: 'Nixie One', cursive;*/
        font-family: 'Cinzel', serif;
    }
    #copyright .container .content .cop p{
        font-family: 'Cinzel', serif;
        color: #ccc;
        text-align: center;
    }


    #back-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;

    }

    #back-top button {
        background: #000;
        color: #fff;
        font-size: 18px;
        border-radius: 2px;
        cursor: pointer;
        width:50px;
        height: 50px;

    }

    #back-top button:hover {
        background: #ba933e;
    }
    /*END COPYRIGHT*/

/*======== END FOOTER ========*/

/*font-family: 'Trirong', serif;*/
/* font-family: 'Josefin Slab', serif; */
/*font-family: 'Cinzel', serif;*/
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'Julius Sans One', sans-serif; */
/*font-family: 'Special Elite', cursive;*/
/*font-family: 'Syncopate', sans-serif;*/
/* font-family: 'Nixie One', cursive; */
/* font-family: 'Six Caps', sans-serif; */
/* font-family: 'Montez', cursive; */
/* font-family: 'Frijole', cursive; */
/* font-family: 'Cutive Mono', monospace; */
/* font-family: 'Miss Fajardose', cursive; */
/* font-family: 'Poiret One', cursive; */
/* font-family: 'Trirong', serif; */
/* font-family: 'Homenaje', sans-serif; */
/*font-family: 'Orbitron', sans-serif;*/